<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Cocktail</h1>

		<f:flashMessages />

		<table  class="tx_cocktailam" >
			<tr>
				<th><f:translate key="tx_cocktailam_domain_model_cocktail.name" /></th>
				<th><f:translate key="tx_cocktailam_domain_model_cocktail.alcoholised" /></th>
				<th><f:translate key="tx_cocktailam_domain_model_cocktail.description" /></th>
				<th><f:translate key="tx_cocktailam_domain_model_cocktail.photos" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{cocktails}" as="cocktail">
				<tr>
					<td><f:link.action action="show" arguments="{cocktail : cocktail}"> {cocktail.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{cocktail : cocktail}"> {cocktail.alcoholised}</f:link.action></td>
					<td><f:link.action action="show" arguments="{cocktail : cocktail}"> {cocktail.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{cocktail : cocktail}"> {cocktail.photos}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{cocktail : cocktail}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{cocktail : cocktail}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Cocktail</f:link.action>
	</f:section>
</html>